body{
  background-color: black;
}

.header  {
  display: flex;
  background-color: #4f4b4b;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  width: 1300px;
  height: 80px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.container {
    margin:auto;
    width: 1200px;
    height: 1000px;
}

.head {
    border-radius: 6px;
    background: #4f4b4b;
    height: 60px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo{
  color: blue;
  font-size: 20px;
  padding: 20px;
  font-family: Arial;
  font-weight: bold;
  
}
.menu li{
  font-size: 20px;
  display: inline;
  color: white;
  list-style-type: none;
  margin-right: 20px;
}
 
.menutwo{
    margin-left: 30px;
    background: #4f4b4b;
    border-radius: 6px;
    width: 160px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bord{
    margin-top: 50px;
    margin-left: 30px;
    background: #4f4b4b;
    border-radius: 6px;
    width: 160px;
    height: 220px;
    position: relative;
}

.oneelement{
    margin-left: 30px;
    border-radius: 6px;
    background: #4f4b4b;
    height: 400px;
    display: flex;
 
}

.twoelement{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 6px;
    background:#4f4b4b;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.rectangle{
    border-radius: 6px;
    background: whitesmoke;
    height: 80px;
    width: 160px;
    margin: 30px;
}

.threeelement{
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 6px;
    background: #4f4b4b;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article{
    width: 980px;
    margin-top: 50px;

}
aside{
	margin-top: 50px ;
}


main{
    display: flex;
}

ul{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    margin: 30px;
    font-family: Arial;
    color: whitesmoke;
}

.side{
    position: absolute;
    border-radius: 6px;
    height: 200px;
    width: 140px;
    margin: 10px;
    background: whitesmoke;
}

.inside{
    margin: 20px;
    border-radius: 6px;
    background: whitesmoke;
    height: 360px;
    width: 280px;
}
.text{
    color: whitesmoke;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 320px;
    width: 600px;
    font-family: Arial;
}

