* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body { 
	background-color: #04043e;
}
.text {
	font-size: 22px;
	font-weight: 600;
    position: absolute;
	top: 100px;
	left: 55%;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 30px;
}
.box{
	position: relative;
	border-radius: 6px;
}

.header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 1140px;
	border-radius: 6px;
	background-color: 	#e2ffc6;
	position: fixed;
    top: 10px;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 1140px;
	border-radius: 6px;
	background-color: #e2ffc6;
	margin-top: 30px;
	
}

.header_nav{
	display: flex;
	align-items: center;
}
.header_item{
	margin: 0 20px;
}

.header_logo{
	font-size: 22px;
	font-weight: 600;
    margin: 0 20px;
    text-align: center;
}
.section{
	padding: 30px;
	margin-bottom: 20px;
	border-radius: 6px;
	background-color: #E1F0E5;
}

.img{
	height: 300px;
	min-width: 300px;
	border-radius: 6px;
	background-color: #f9f9f9;
}
.img_a{
	border-radius: 6px;
}
.one, .two{
	display: flex;
	align-items: center;
}
.one{
    margin-top: 80px;

}

.two{
	flex-direction: row-reverse;
}
.one_text, .two_text{
	line-height: 25px;
	font-family: Verdana;	
}

.two_text{
	text-align: right;
	font-family: Verdana;
}
.one_img{
	margin-right: 30px;
}

.two_img{
	margin-left: 30px;
}

.two_ing{
	margin-left: 30px;
}
.prise{
	display: flex;
	justify-content: space-around;
}
.prise_title{
	margin-bottom: 5px;
	font-family: Verdana;
}
.prise_item{
	max-width: 300px;
	padding: 20px;
	border-radius: 6px;
	text-align: center;
	background-color: #F2F9F4;
}

.prise_img{
	width: 100%;
	height: 250px;
	margin-bottom: 15px;
	border-radius: 6px;
	background-color: #c6c6c6;
}

.prise_text{
	margin: 15px 0;
	font-family: Verdana;
}

.prise_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 100%;
	margin-top: 7px;
	border-radius: 6px;
	color: white;
	background-color: #0E2F44;
	padding: 7px 0;
}

.prise_btn:hover{
	background-color: green;
}

.prise_btn:active {
	background-color: blue;
}
.card{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 10px;
}

.card_item{
	width: 260px;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 6px;
	background-color: #F2F9F4;
	padding: 10px 0;
}

.btn_sp{
	text-align: center;
	font-weight: 600;
	color: #0E2F44;
	font-family: Verdana;
}


.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
}


.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
}


.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}


.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}


.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

